<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <nav>

        <a class="brand" asp-area="" asp-controller="Home" asp-action="Index">
            Dictionary Coder
        </a>
        <ul>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Algorithms
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">LZ77</a>
                    <a class="dropdown-item" href="#">LZW</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="link" asp-area="" asp-controller="Home" asp-action="About">About</a>
            </li>

            <li class="nav-item">
                <a class="link" href="#">Contact</a>
            </li>

            <li class="nav-item">
                <a class="link-image" href="https://github.com/Raff-dev">
                    <img class="nav-icon" src="~/images/github.png" />
                </a>
            </li>
        </ul>
    </nav>
    <header>
        @RenderSection("bgImage", required: true)
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted bg-dark">
        <div class="Contact">
            <form id="contact" class="d-flex justify-content-around px-5 py-2">
                <textarea class="text-muted" form="contact">
                    Write your message here
                </textarea>
                <div class="d-block">
                    <input value="E-mail" form="contact" type="email" />
                    <button form="contact" action="submit">Send</button>
                </div>
            </form>

        </div>
        <div class="container d-flex">
            &copy; 2020 - DictionaryCoder - <a asp-area="" asp-controller="Home" asp-action="Sources"> Sources</a>
        </div>
    </footer>
</body>
</html>
