* {
    padding: 0;
    margin: 0;
    display: block;
    font-family: verdana;
}

/* Utilities
-------------------------------------------------- */

.button {
    padding: 1rem 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    background-color: #69B6F1;
    transition: all .1s ease-in;
    opacity: 0.9;
    border: none;
    font-size: 22px;
    font-weight: 500;
    color: #E0E9F9;
}

.button:focus {
    outline: none;
}

.button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #1685DB;
}

/* Navbar styles
-------------------------------------------------- */

nav {
    position: absolute;
    top: 0;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    height: 8rem;
    width: 100%;
    padding: 2rem 4rem;
}

nav .brand {
    white-space: normal;
    text-align: center;
}

nav ul {
    height: auto;
    font-weight: 600;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    vertical-align: central;
}

nav a {
    padding: 10px;
    color: #eee6d6;
    text-decoration: none;
    transition: all .1s ease-in;
}

nav a:hover {
    color: #eee6ff;
    text-decoration: none;
    transform: scale(1.1);
}


nav .link-image {
}

nav .link-image img {
    height: 45px;
    width: 45px;
}

/* Header styles
-------------------------------------------------- */

header {
}

header img {
    max-height: 600px;
    min-width: 100vw;
    width: auto;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
}

header .top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: block;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}


header .button {
    margin: 4rem 0;
    background-color: #1685DB;
    opacity: 0.8;
}

header .button:hover {
    background-color: #59a6e1;
    opacity: 0.9;
}



/* Main styles
-------------------------------------------------- */
main {
}

.content {
    display: block;
    height: auto;
}

.content > div {
    display: flex;
    justify-content: center;
}

.content > div > div {
    display: block;
    justify-content: center;
    margin: 10vh;
}

.content .button-div {
    display: flex;
    justify-content: center;
}

.content .drag-file {
    position: relative;
    height: 200px;
    width: 500px;
    border-color: #69B6F1;
    border-radius: 40px;
    background-color: rgb(250, 250, 255);
    border: dashed;
    justify-content: center;
    display: flex;
    padding: 3rem;
    margin: 3rem;
    text-align:center;
}

.content .drag-file > div {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    display: block;
    align-items: center;
}

.content .drag-file .arrow-div {
    margin: 2rem 0;
}

.content .drag-file .arrow-div {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.content .drag-file img {
    height: 60px;
    width: auto;
}

.content .drag-file span {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.content .button {
    margin-left: 4rem;
    margin-right: 4rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    margin-top: 50px;
}

.footer .contact {
}
