@{
    ViewData["Title"] = "Dictionary Coder";
}

@section bgImage{
    <img src="~/images/bgencoding.jpg" alt="Background image" />

    <div class="content">
        <div class="encode button btn-info">
            Encode
        </div>

        <div class="decode button btn-info">
            Decode
        </div>
    </div>
}

<div class="content">

</div>
