@{
    ViewData["Title"] = "Dictionary Coder";
}

@section bgImage{
    <img src="~/images/bgencoding.jpg" alt="Background image" />
    <div class="top">
        <div class="encode button">
            <span>
                Encode
            </span>
        </div>

        <div class="decode button">
            <span>
                Decode
            </span>
        </div>
    </div>
}
<div class="content">
    <div>
        <form id="encode-form">
            <div id="encode-drag-file" class="encode drag-file">
                <div>
                    <div class="text-div">
                        <span>Drag your file to encode here</span>
                        <span>(.txt, .jpg, .jpeg, .png)</span>
                    </div>
                    <div class="arrow-div">
                        <img src="~/images/download_arrow.png" alt="download_arrow" />
                    </div>
                </div>
            </div>
            <div class="button-div">
                <input id="encode-button" class="button" form="encode-form" type="button" value="Encode" />
            </div>
        </form>
    </div>

    <div>
        <form id="decode-form">
            <div id="decode-drag-file" class="decode drag-file">
                <div>
                    <div class="text-div">
                        <span>Drag your encoded file here</span>
                        <span>(.lz77)</span>
                        <div class="arrow-div">
                            <img src="~/images/download_arrow.png" alt="download_arrow" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-div">
                <input id="decode-button" class="button" form="decode-form" type="button" value="Decode" />
            </div>
        </form>
    </div>
</div>
