@{
    ViewData["Title"] = "Sources";
}

    </div>
<div class="text-center">
    <h1 class="display-4">Sources</h1>
</div>

<div class="home">
    @section bgImage{
        <div class="bg-info" />

    }
</div>