@{
    ViewData["Title"] = "Sources";
}

<div class="text-center">
    <h1 class="display-4">Sources</h1>
</div>

@section bgImage{
    <div class="content">
        <div class="bg-info" />
    </div>
}